<div class="flora-item">
	<div class="flora-item-wrapper">
		<h1 class="flora-item-heading"><a href="{{flora.url}}">{{flora.common_name}}</a></h1>
		<figure class="flora-image-container">
		<img class="flora-image" src="{{flora.image_url}}">
		<figcaption> {{flora.caption}}</figcaption>
	</figure>
	<p>{{flora.alt_name}}</p>
		<p>{{flora.latin-name}}</p>
		<p>{{flora.planted-date}}</p>
		<p> {{flora.blooms}}</p>
		<p>{{flora.flowers}}</p>
		<p>{{flora.first-growth}}</p>
		<p> {{flora.last_fertilized}}</p>
		<p> {{flora.watering_schedule}}</p>
		<p> {{flora.comments}} </p>
	</div>
</div>