
<footer class="site-footer">
    <h2 class="footer-heading">{{site.title}}</h2>
    <div>
        <ul>
            <li>A simple project by Christan Fergus | <a href="{{site.personal-site}}" target="_blank">Official website</a> | <a href="{{site.linkedin}}" target="_blank">LinkedIn</a></li>
            <li>Also have a look at the sister site, <a href="https://yardbird.observer" target="_blank">Yard Bird Observer</a>
        </ul>
    </div>
    <hr class="stealth">
    <p class="boilerplate">&copy; Christan Fergus&nbsp;2021&mdash;<span id="date"></span></p>
    <p class="boilerplate">Flower images in this site are used with permission by <a href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>, via Wikimedia Commons</p>
    <p class="boilerplate">Front page image Photo by <a href="https://unsplash.com/@martz90?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Martin Kníže</a> on <a href="https://unsplash.com/s/photos/garden?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    <p class="boilerplate">Icons used in compliance with the Font Awesome <a href="https://fontawesome.com/license" target="_blank">license agreement</a>
</footer>
<script type="text/javascript" src="{{site.js-dir | prepend: site.baseurl}}js.js"></script>
