<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="Christan Fergus" />
	<meta name="copyright" content="Christan Fergus" />
	<meta name="theme-color" content="#2a323e"/>
	<meta name="color-scheme" content="dark light">
	<title>{{site.title}}</title>
	<link rel="stylesheet" href="{{ site.css-dir }}main.css?v={{site.data.changelog-data[0].num}}" media="(min-width: 320px)">
	<link rel="icon" 
      type="image/png" 
      href="{{ site.baseurl }}favicon.png">
</head>