{%if page.nolink == true %}
<header class="header-front-page">
    <div class="garden-location">
        <p><i class="fa-thin fa-map-marker-alt"></i>&nbsp;{{site.garden-location}}</p>
        <p><i class="fa-thin fa-earth-americas"></i>&nbsp;{{site.hardiness-zone}}</p>
    </div>
    <div class="heading-wrapper">
        <h1 class="site-title">Garden<span>Flora</span>Observer</h1>
    </div>
</header>

{%else%}
<header class="no-link">
    <div>
        <a class="site-header-link" href="{{site.baseurl}}"><h1 class="site-title">{{site.title}}</h1></a>
    </div>
</header>
{%endif%}